@import url("@/theme/GlobalStyle.css");

.map {
    min-height: 100px;
    height: 100%;
    width: 100%;
}

.map-button {
    position: absolute;
    right: 6vw;
    --background: #FFFFFF;
    --background-activated: lightgrey;
    --border-radius: 50%;
    width: 18vw;
    height: 18vw;
    font-size: 0; /* To hide text */
}

/* isUserLocationInViewport = true */
#recenter-button.userLocationInViewport {
    --border-color: #4D58CB;
    --border-width: 3px;
}

/* isUserLocationOutsideViewport = true */
#recenter-button.userLocationOutsideViewport {
    --background: #D9D9D9;
    width: 60vw;
    height: 16vw;
    --border-radius: 90px;
    font-size: 4vw;
    letter-spacing: 0.02vw;
    font-weight: 500;
}
#recenter-button.userLocationOutsideViewport ion-icon {
    font-size: 5vw;
    margin-right: 3vw;
}

.map-button ion-icon {
    font-size: 3.5vw;
}

#recenter-button {
    bottom: 16vh;
}

div#popup.activated {
    top: 40%;
    width: 65vw;
    height: 12vw;
    border: 1px solid var(--button-outline-grey);
}

#popup {
    perspective-origin: bottom;
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(3px);
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 0;
    height: 0;
    border-radius: 10vw;
    overflow: inherit;
    transition: all 0.1s cubic-bezier(0, .8, .2, 1);
}

#popup-details {
    position: relative;
    left: 5vw;
    width: 48vw;
    height: 12vw;
    text-overflow: ellipsis;
    padding-top: 1vw;
}

#popupTitle {
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
}

#popupSubtext {
    position: relative;
    top: -0.5vw;
    font-size: 11px;
    font-weight: 400;
}

#popupTitle, #popupSubtext {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-family: "OpenSans", sans-serif;
    color: black;
    margin: 0;
}

#popup ion-button {
    position: absolute;
    top: 0;
    right: 2px;

    /* For some reason, increasing this number makes the arrow icon smaller. */
    font-size: 0;

    width: 10vw;
    height: 10vw;
    color: black;
    --background: none;
    --ripple-color: var(--mona-yellow);
    --border-radius: 50%;
    --border-width: 0;
}

#seeMore ion-icon {
    font-size: 32px;
}
