@import url("@/theme/GlobalStyle.css");

.map {
    min-height: 100px;
    height: 100%;
    width: 100%;
}

#recenter-button, #settings-button {
    position: absolute;
    right: 10px;
    --background: var(--toolbar-purple);
    --background-activated: lightgrey;
    color: #7F7F7F;
    width: 50px;
    height: 50px;
    font-size: 10px;
    --border-radius: 15px;
}

#recenter-button {
    bottom: 12%;
}

#settings-button {
    bottom: 20%;
}

div#popup {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
    border: 0;
    width: 0;
    height: 0;
    left: 50%;
    top: 44%;
    z-index: 1;
    transform: translate(-50%, -50%);
    transition: all 0.1s cubic-bezier(0, .8, .2, 1);
    perspective-origin: bottom;
    border-radius: 10vw;
}

div#popup.activated {
    top: 40%;
    width: 65vw;
    height: 12vw;
    border: 1px solid var(--button-outline-grey);
}

#popupDetails {
    position: relative;
    bottom: 2px;
    padding-left: 4vw;
    padding-top: 2vw;
}

p.details {
    position: absolute;
    font-family: "OpenSans", sans-serif;
    line-height: 4.5vw;
    color: black;
}

#popupTitle {
    /*top: -6px;*/
    font-style: italic;
    font-weight: bold;
}

#popupSubtext {
    top: 24px;
    left: 16px;
    font-size: 11px;
    font-weight: 400;
}

#seeMore {
    color: black;
    --background: none;
    --ripple-color: var(--mona-yellow);
    --border-radius: 50%;
    --border-width: 0;
    width: 10vw;
    height: 10vw;
    font-size: 5px;
    position: absolute;
    right: 2px;
    top: 1px;
}
