@import url("@/theme/GlobalStyle.css");

/* Selected pin discovery details modal */
#discoveryDetailsModal {
    --border-radius: 16px 16px 0px 0px;
    /*height: 90vh; --makes nav bar visible! */
}
/* Selected pin discovery details modal */

/* Closest discoveries accordion */

/* To make ion button follow accordion opening and closing */
.accordionButtonDiv {
    position: relative;
}

ion-accordion-group.closestDiscoveriesAccordion {
    position: absolute;
    bottom: 10.5vh;
    width: 100vw
}
.ios ion-accordion-group.closestDiscoveriesAccordion {
    bottom: 14.5vh;
}

ion-accordion-group.closestDiscoveriesAccordion ion-accordion {
    border-radius: 16px 16px 0 0;
}

ion-accordion-group.closestDiscoveriesAccordion ion-accordion ion-item[slot="header"] ion-label {
    font-size: 4vw;
    padding: 0.9vh 0;
}

ion-accordion-group.closestDiscoveriesAccordion ion-accordion div[slot="content"] ion-list {
    display: flex;
    overflow-x: scroll;
    padding: 0 2vw;
    margin:0;
}

ion-accordion-group.closestDiscoveriesAccordion ion-accordion div[slot="content"] ion-list ion-item ion-grid {
    height: 18.3vh;
    width: 37vw;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

ion-row#closestDiscoveryTitle {
    margin: 0.8vh 0;
    height: 6vh;
    font-size: 3.7vw;
    font-weight: 500;
    /* Only let 3 lines of text and then, ellipsis overflowing text*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-row#closestDiscoveryArtistOrUsages {
    height: 2.2vh;
    margin-bottom: 0.5vh;
    font-size: 3.7vw;
    /* Only let 1 line of text and then, ellipsis overflowing text*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-row#closestDiscoveryDate {
    height: 1.6vh;
    font-size: 3.4vw;
    margin-bottom: 1.34vh;
}

ion-row ion-label#closestDiscoveryDistance {
    margin-top: 0.1vh;
    margin-left: 0.5vw;
    height: 3.8vw;
    font-size: 3.2vw;
}

ion-accordion-group.closestDiscoveriesAccordion ion-accordion div[slot="content"] ion-list ion-item {
    flex: 0 0 auto;
    --inner-padding-end: 0vw;
    --padding-start: 2vw;
}

ion-accordion-group.closestDiscoveriesAccordion ion-accordion div[slot="content"] ion-list div#seeMoreInList {
    margin: 0 2vw;
    padding: 10vw;
    height: 18vh;
    width: 37vw;
    font-weight: 500;
    color: steelblue;
    text-decoration: underline steelblue;
    text-decoration-thickness: 0.3vw;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
    display:flex;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}
/* Closest discoveries accordion */

.map {
    min-height: 100px;
    height: 100%;
    width: 100%;
}

.basemapLayer {
    background-color: #ebebeb; /* background when map hasn't fully loaded when de-zooming quickly */
    filter: grayscale(0.7); /* make map grayer */
}

.map-button {
    position: absolute;
    right: 6vw;
    --background: #FFFFFF;
    --background-activated: lightgrey;
    --border-radius: 50%;
    width: 18vw;
    height: 18vw;
    font-size: 0; /* To hide text */
}
.map-button ion-icon {
    font-size: 3.5vw;
}
#recenter-button {
    bottom: 4vh;
}

/* isUserLocationInViewport = true */
#recenter-button.userLocationInViewport {
    --border-color: #4D58CB;
    --border-width: 3px;
}

/* isUserLocationOutsideViewport = true */
#recenter-button.userLocationOutsideViewport {
    width: 60vw;
    height: 16vw;
    --border-radius: 90px;
    --border-width: 2px;
    --border-color: #757DD7;
    font-size: 4vw;
    letter-spacing: 0.02vw;
    font-weight: 500;
    color: #2E389E;
}
.ios #recenter-button.userLocationOutsideViewport {
    font-weight: 600;
}
#recenter-button.userLocationOutsideViewport ion-icon {
    margin-right: 3vw;
}


.map-alert {
    --min-width: 90% !important;
}

.map-alert .alert-wrapper {
    border-radius: 20px !important;
}
.map-alert .alert-wrapper .alert-head h2{
    text-align: center !important;
    font-weight: normal !important;
    font-size: medium !important;
}

.map-alert .alert-wrapper .alert-head {
    text-align: center !important;
    font-weight: normal !important;
}

.map-alert .alert-button-group {
    display: flex !important;
    flex-direction: column-reverse !important;
    justify-content: center !important;
    padding: 0 5% 5% 5% !important;
}

.alert-button-cancel {
    color: #D82727 !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-color: #D82727 !important;
    border-radius: 24px !important;
}

.alert-button-cancel .alert-button-inner{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.alert-button-confirm {
    color: #FFFFFF !important;
    background: #4D58CB !important;
    margin-bottom: 4% !important;
    border-radius: 24px !important;
}

.alert-button-confirm .alert-button-inner{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
